<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous"
    />
    <title>Pet Shop</title>
    <link rel="shortcut icon" type="image/png" href="./assets/images/canocan_3000.png" />
</head>
<body>
    <div>
        <header>
            <nav class="nav nav-pills flex-column flex-sm-row">
                <h2><a class="flex-sm-fill text-sm-center nav-link" href="/">Home</a></h2>
                <h2><a class="flex-sm-fill text-sm-center nav-link" href="/about">About</a></h2>
                <h2><a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a></h2>
            </nav>
        </header>

        <div class="container mt-4">
            {{{ body }}}
        </div>

        <footer>
            Thanks for visiting!
        </footer>
    </div>
</body>
</html>