<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <title>Pet-Check</title>
</head>
<body>
    <div>
        <header>
            <nav class="nav nav-pills flex-column flex-sm-row">
                <h2><a class="flex-sm-fill text-sm-center nav-link" href="/">Home</a></h2>
                <h2><a class="flex-sm-fill text-sm-center nav-link" href="/register">Register</a></h2>
                <h2><a class="flex-sm-fill text-sm-center nav-link" href="/login">Login</a></h2>
            </nav>
        </header>

        <div class="container mt-4">
            {{{ body }}}
        </div>

        <footer>
            Thanks for visiting!
        </footer>
    </div>
</body>
</html>