<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services!</title>
</head>
<body>
  {{!-- Should be the same name or something that can be attached to --}}
  
  <section>
    <h1>Services for you!</h1>
    <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloremque laboriosam amet quam. Ex nesciunt debitis, saepe libero qui repellendus voluptatem optio consequuntur quod autem voluptates? Tempore amet odio voluptates. 
  </div>
  </section>

  <section>
    <h1>Services for you pets!</h1>
    <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloremque laboriosam amet quam. Ex nesciunt debitis, saepe libero qui repellendus voluptatem optio consequuntur quod autem voluptates? Tempore amet odio voluptates. 
  </div>
  </section>

  <section>
    <h1>Additional Services!</h1>
    <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloremque laboriosam amet quam. Ex nesciunt debitis, saepe libero qui repellendus voluptatem optio consequuntur quod autem voluptates? Tempore amet odio voluptates. 
  </div>
  </section>
  
</body>
</html>